<!-- <greet-app></greet-app> 
<msgparent-comp></msgparent-comp>-->
<!-- <msgchild-comp></msgchild-comp> -->

<!-- {{"mnl"|reverseStr}}


<pipedemo-comp></pipedemo-comp>

<p-comp></p-comp>

<ul myhighlight>
<li>maruti</li>
<li>nita</li>
</ul> -->
<!-- 
<msgparent-comp></msgparent-comp> 

<bind-comp></bind-comp>
<touristparent-comp></touristparent-comp>-->
<!-- 
<header style="background-color: darkred;"><h1 style="color: white;">Welcome to world of routing</h1></header>
<hr/>
<nav>
    <a routerLink="" style="color: darkblue; font-family:Arial, Helvetica, sans-serif">Home|</a>
    <a routerLink="messages" style="color: darkblue; font-family:Arial, Helvetica, sans-serif">Messages|</a>
    <a routerLink="photos" style="color: darkblue; font-family:Arial, Helvetica, sans-serif">Photos|</a>

</nav>

<router-outlet></router-outlet>
<br/><br/>
<hr/>
<footer style="background-color: darkred;color: white;">Copy  Right  @Seed Infotech</footer> -->


<!-- <header><h1>Welcome to Royal Rider Club </h1></header>
<hr/>
<nav>
    <a routerLink="">Home|</a>
    <a routerLink="members">Members|</a>
    <a routerLink="events">Events|</a>
    <a routerLink="form">Form|</a>
    <a routerLink="feedback">Feedback</a>
</nav>
<router-outlet></router-outlet>
<hr/>
<footer><h2>@Rider copyright</h2></footer>

<test-comp></test-comp> 
<math-comp></math-comp>

<search-comp></search-comp>
<first-comp></first-comp>
<second-comp></second-comp>
<productshop-comp></productshop-comp>
<ordershop-comp></ordershop-comp>
<customershop-comp></customershop-comp>
<hello123-comp></hello123-comp>-->
<!-- <header><h1>Welcome to RoyalBiker event</h1></header>
<hr/>
<nav>
    <a routerLink="event">Events|</a>
    <a routerLink="">Home|</a>
    <a routerLink="member">Members|</a>
</nav>
<router-outlet></router-outlet>
<hr/>
<footer><h6>@Rider copyright</h6></footer> -->

<!-- <math-comp></math-comp> -->

<!-- <player-comp></player-comp> -->
 <!-- <greet-comp></greet-comp>  -->
  <!-- <nestedparent-comp></nestedparent-comp>  -->
 <!-- <directivedemo-comp></directivedemo-comp>  -->
<!-- <attributedirective-comp></attributedirective-comp> -->
<!-- <s-comp></s-comp> -->
<!-- <light></light> -->
<!-- <pi2-comp></pi2-comp> -->
<!-- <computerparent-comp></computerparent-comp> -->
<!--  <bindimage-comp></bindimage-comp> -->
<!-- <imagebinding-comp></imagebinding-comp>  -->
<!-- <touristparent123-comp></touristparent123-comp> -->
<!-- <h1>Welcome to my myhomepage</h1>
<nav>
    <a routerLink="">Home |</a>
    <a routerLink="messages">Message |</a>
    <a routerLink="photos">Photos</a>
</nav>
<router-outlet></router-outlet>
<footer><h2>@Rider copyright</h2></footer> 

<h1>Event Page of Mercedes</h1>
<nav>
    <a routerLink="">Home |</a>
    <a routerLink="event">Event |</a>
    <a routerLink="member">Member</a>
</nav>
<router-outlet></router-outlet>-->
<!-- <templateform123-comp></templateform123-comp> -->
<!-- <modeldriven123-comp></modeldriven123-comp> -->
<!-- <httpdemo123-comp></httpdemo123-comp> -->
<!-- <firstmodule-comp></firstmodule-comp>
<secondmodule-comp></secondmodule-comp> 

<employee31-comp></employee31-comp>

<div class="container">
<product1java-comp></product1java-comp>
</div>
<userjava-comp></userjava-comp>-->

<!-- <product1java-comp></product1java-comp>
    <beer-comp></beer-comp> 

 <productlist-comp></productlist-comp>
 <input type="button" class="btn-primary" name="submit" value="submit">
 <button type="button" class="btn btn-warning">warning</button> -->
<!-- <router-outlet></router-outlet> -->
<!-- <div style="text-align:center">

</div>
<app-book-shelf-angular></app-book-shelf-angular> -->
<!-- <nav>
    <a routerLink="addbook">add |</a>
    <a routerLink="booklist">getlist</a>
</nav> -->
<!-- <h1>
    Welcome to {{title}}
</h1>
 -->
<!-- <app-user1></app-user1> -->
<!-- <router-outlet></router-outlet> 

<h1>Event Page of User</h1>
<nav>
    <a routerLink="">Home User |</a>
    <a routerLink="messages">Message page |</a>
    <a routerLink="photos">Photo |</a>
    <a routerLink="**">page not found</a>
</nav>-->
<!-- <buttonproject-comp></buttonproject-comp> 
<successUser-comp></successUser-comp>-->


<!-- <router-outlet></router-outlet>  -->
<!-- <userform-comp></userform-comp>
<userformfolder-comp></userformfolder-comp> -->
<!-- <app-employeeform></app-employeeform> -->
<!-- <toDoProduct-comp></toDoProduct-comp> -->
<book-comp></book-comp>